.card {
  width: 300px;
  margin: 20px auto;
  padding: 20px;

  background: rgb(120, 115, 157);
  border-radius: 12px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  font-family: Arial, sans-serif;
  text-align: center;
}

.card h1 {
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
  margin: 5px 0;
}